:root {
  --main-bg-color: #004483;
  --forecastDaysBG: #44b9e3;
  --cityCardBorder: #090909;
  
  --fiveDayText: #fff;

  --fadeStart:#DBEDFF;
  --fadeEnd:#0084ff;

  --fiveDayTextBGStart:#5BB0FF;
  --fiveDayTextBG: #8AC7FF;
  
  
}


/* ================ Tags ================  */

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background-color: var(--main-bg-color);
}

div h4 {
  font-size: 20px;
}

footer {
  min-height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  border-bottom:30px #879274;
  width: 100%;
}

/* ================ Classes ================  */

.titleBox {
  display: flex;
  background: linear-gradient(to right,var(--fadeStart),var(--fadeEnd));
  min-height: 80px;
  align-items: center;
  font-size: 50px;
  padding: 20px;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
}


.cityButton {
  background: linear-gradient(to right, var(--fadeStart),var(--fadeEnd));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80px;
  font-size: 22px;
  width: 160px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-family: 'Orbitron', sans-serif;
}

.liveDate {
  font-size: 30px;
}

.liveCity {
  font-size: 50px;
}

.dayForeTemp {
  font-size: 13px;
}

.cityCard {
  border-style: solid;
  border-radius: 12px;
  min-width: 80%;
  outline-color: var(--cityCardBorder);
  font-family: 'Radio Canada', sans-serif;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}


.searchHistory {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 80px;
  font-size: 25px;
  width: 160px;
  font-family: 'Orbitron', sans-serif;
  color: var(--fiveDayText);
}


.forecastCard {
  font-size: 14px;
  font-weight: 800;
  /* background-color: var(--forecastDaysBG); */
  background: linear-gradient(to right top, var(--fadeStart),var(--fadeEnd));
  font-family: 'Radio Canada', sans-serif;
}


.fiveDayText {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  background: linear-gradient(to top,var(--fiveDayTextBGStart),var(--fiveDayTextBG));
  text-align: center;
  min-height: 50px;
  min-width: 80%;
  color: var(--fiveDayText);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-family: 'Orbitron', sans-serif;
}

