:root {
  --main-bg-color: brown;
  --boxHeight: 110px;

  --hourBoxColor: #D4A373;
  --meetingBoxColor: #FAEDCD;

  --forecastDaysBG: #44b9e3;

  --fiveDayTextBG: #13293d;
  --fiveDayText: #fff;

  --cityCardBorder: #090909;
  

}




body {
  font-family: 'Open Sans', sans-serif;
  /* font-size: 16px; */
  line-height: 1;
}

.titleBox {
  display: flex;
  background: linear-gradient(to right, rgba(170, 206, 239, 15), rgb(0, 132, 255));
  min-height: 80px;
  /* flex */
  align-items: center;
  font-size: 30px;
  padding: 20px;
  /*padding-top: 20px;
  padding-bottom: 20px; */
  width: 100%;
  
}


.cityCard {
  border-style: solid;
  border-radius: 6px;
  outline-color: var(--cityCardBorder);
}

.forecastCard {
  font-size: 30px;
  background-color: var(--forecastDaysBG);
}

.fiveDayText {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  background: var(--fiveDayTextBG);
  text-align: center;
  min-height: 50px;
  min-width: 100%;
  color: var(--fiveDayText);
}

div h4 {
  font-size: 20px;
}


/* ======================== Footer ======================== */
footer {
  min-height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  border-bottom:30px #879274;
  width: 100%;
}

